* {
    box-sizing: border-box;
}

html  {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}

.content-wrapper {
    width: 100vw;
    height: 100%;
    max-width: 1100px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 3rem 1.5rem 1fr 16rem;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a  {
    height: 100%;
}

header img {
    height:100%;
}

nav {
    background-color: #003B6D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2px 0 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 2px 0 2px 0;
}

nav > ul >li {
    margin: 0 .5rem 0 0;
}

nav li {
    color: white;
    height: 2.8rem;
}

nav li:hover{
    background-color: #6699CC;
}

nav a {
    color: white;
    text-decoration: none;  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact-button {
    background: rgb(255,79,0);
    background: linear-gradient(180deg, rgba(255,79,0,1) 35%, rgba(135,55,0,1) 100%);
}

/* Sub-Menu styling:  */

.pet-info-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #003B6D;
    width: 100%;
    height: 8.4rem;
    display: none;
}



.pet-info-button:hover .sub-menu {
    display: block;
}






.search-bar {
    color: white;
    display: flex;
    align-items: center;
}

.search-bar input {
    height: 60%;
    margin: 0 0 0 3px;
}

.bread-crumbs {
    background-color: #6699CC;
    color: darkslategray;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bread-crumbs p {
    margin: 0 0 0 1rem;
}

main {
    background-color: white;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
}

footer img {
    height: 5rem;
    width: 5rem;
}
footer p {
    margin: 0;
}

.mini-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 2px 0 2px 0;
}

.mini-nav li:nth-child(even){
    margin: 0 .5rem 0 .5rem
}

.socials img {
    height: 30px;
    width: auto;
}


h1 {
    font-size: 3rem;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    line-height: 1.5rem;
    margin: 0 1rem 0 1rem;
}

aside img {
    width: 95%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}




/* Home Page Specifics */
#home-main {
    display: grid;
    margin: 0;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .2rem;
    grid-template-areas: 
        "article  adopt"
        "splash adopt";
        background-color: #676767;
}

#home-main article {
    grid-area: article;
    background-color: white;
    margin: .25rem;
    padding: 1rem;
    font-size: 1.1rem;
}

#home-main #home-splash {
    grid-area: splash;
    background-color: white;
    margin: .25rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    gap: .5rem;
    grid-template-areas: 
        "header header header"
        "img1 img2 img3";
}
#home-splash h3 {
    grid-area: header;
    margin: 0 0 1rem 0;
}
#home-splash img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

#home-main aside {
    grid-area: adopt;
    background-color: white;
    margin: .25rem;
    padding: 1rem;

}

aside ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside li {
    margin-bottom: .5rem;
}

aside a {
    text-decoration: none;
}

/* Contact Page Specific */

#contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    line-height: 1.5rem;
    margin: 0 1rem 0 1rem;
    padding: 5rem 0 5rem 0;
}

#contact-main img {
    width: 100%;
}

#contact-main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-main h1 {
    margin-top: .5rem;
}

#contact-main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

#contact-main label {
    display: block;
    margin-bottom: 1rem;
}